
.card{
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: auto auto auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: 10px;
  
  font-family: arial;
  gap: 40px;
 
}
.card2{
 
  justify-content: space-evenly;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: 10px;
  
  font-family: arial;
  gap: 40px;
 
}
.imageDiv{
  width: 50%;
}
.productImage{
    width: 20%;
}
.price {
  color: grey;
  font-size: 22px;
}
.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
